.BarChart{
    height: .8vw;
    width: 100%;
}
.BarChart > div{
    height: inherit;
    display: inline-block;
}
.BarChart > div:first-child{
    border-radius: .2vw 0 0 .2vw;
}
.BarChart > div:last-child{
    border-radius: 0 .2vw .2vw 0;
}