.BarChartSectorDetails{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.BarChartSectorDetails >div:first-child{
    width: 1vw;
    height: 1vw;
    margin-right: 1vw;
}
.BarChartSectorDetails > div:last-child{
margin-left: auto;
}