.Table-Row {
  display: flex;
  justify-content: center;
}
table,
th,
td {
  border-bottom: 0.05vw solid var(--color20);
}
td {
  font-size: 0.8vw;
  padding: 10px 30px 10px 30px;
  text-align: center;
}
th {
  padding: 10px 30px 10px 30px;
  font-size: 0.8vw;
  color: var(--color8);
  opacity: 0.6;
}
table {
  margin-top: 20px;
  border-collapse: collapse;
}
