#AlertBox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000080;
  filter: blur(100%);
  z-index: 100;
  display: flex;
  animation: showMe 0.5s 1;
}
#AlertBox > div {
  border: 0.2vw solid;
  border-radius: 2vw;
  grid-template-rows: min-content auto min-content;
  padding: 2vw;
  width: 70vw;
  height: 70vh;
  background-color: var(--color20);
  margin: auto;
  justify-content: center;
  display: grid;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
#AlertBox.success > div {
  border-color: #34bfa3;
}
#AlertBox.fail > div {
  border-color: #dc473c;
}
#AlertBox > div > * {
  margin: 0 auto;
}
#AlertBox h1 {
  color: var(--color17);
  font-size: 2vw;
  align-self: flex-start;
}
#AlertBox #logo {
  font-size: 10vw;
  padding-bottom: 2vw;
}
#AlertBox.success #logo {
  color: #34bfa3;
}
#AlertBox.fail #logo {
  color: #dc473c;
}
#AlertBox #makeDecision {
  display: flex;
  width: 30vw;
  justify-content: center;
}
/*Animation*/
@keyframes showMe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
