.Button {
  border-radius: 0.3vw;
  color: var(--color2);
  padding: 0.5vw;
  width: min-content;
  min-width: 7vw;
  font-size: 0.8vw;
  background-color: var(--color19);
}

.saveButton {
  background-color: var(--color3);
  margin-left: 90%;
}

.logInButton {
  background-color: #ffffff00;
  border: 0.2vw solid #ffffff;
  color: #ffffff;
}
.logInButton:hover {
  background-color: #00000020;
}
.confirmButton {
  background-color: #34bfa3;
}
.rejectButton {
  background-color: #dc473c;
}
.confirmButton:hover {
  transition: 1s;
  filter: brightness(1.1);
  transform: scale(1.1);
}
.rejectButton:hover {
  transition: 1s;
  filter: brightness(1.1);
  transform: scale(1.1);
}
