.ChangeAbleRoundedImg {
  width: 12vw;
  height: 11.2vw;
  position: relative;
}
.ChangeAbleRoundedImg .UserImg {
  width: 100%;
  height: 100%;
}
.ChangeAbleRoundedImg > button {
  height: 2.2vw;
  width: 2.2vw;
  border-radius: 50%;
  position: absolute;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  left: 9vw;
  top: 2vw;
  background-color: var(--color3);
  background-image: url("../imgs/edit.png");
}
.ChangeAbleRoundedImg > input {
  display: none;
}
