.ContentItem {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--color2);
  box-shadow: 0px 0px 5px var(--color12);
}
.ContentItem > * {
  margin: 0.5vw 0;
  padding: 1vw 0;
  padding-right: 1vw;
  padding-left: 1.5vw;
}
