#Content {
  width: 80%;
  min-height: -webkit-fill-available;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}
#Content > * {
  margin: 1vh 0;
}
#Content > header {
  display: flex;
  align-items: center;
  padding: 1vh 0;
}
#Content > header > .title {
  font-weight: 500;
  font-size: 1.5vw;
  color: var(--color7);
}

#Content > header > .updated {
  font-size: 0.7vw;
  margin-left: 1.5vw;
  color: var(--color8);
}
#Content > header > .updated::before {
  content: "|";
  margin-right: 0.5vw;
}
#Content > #contentItems {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1vw;
  height: fit-content;
}

.contactLabelInputSameLine {
  display: flex;
  width: 50%;
}
.contactLabelInputSameLine > div:last-child {
  margin-left: 2vw;
}
.preferencesPreferedIndustries {
  display:grid;
  grid-template-columns: auto 80%;
  row-gap: 2vw;
  margin-top: 1vw;
  color: var(--color8);
}
