#Content {
  width: 80%;
  min-height: -webkit-fill-available;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
#Content > * {
  margin: 1vh 0;
}
#Content > header {
  display: flex;
  align-items: center;
  padding: 1vh 0;
}
#Content > header > .title {
  font-weight: 500;
  font-size: 1.5vw;
  color: var(--color7);
}

#Content > header > .updated {
  font-size: 0.7vw;
  margin-left: 1.5vw;
  color: var(--color8);
}
#Content > header > .updated::before {
  content: "|";
  margin-right: 0.5vw;
}
#Content > #contentItems {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1vw;
  height: fit-content;
}
.preferencesPreferedIndustriesContent  {
  width: 30vw;
  color: var(--color8);
  font-size: 0.8vw;
}
.preferencesTipToUser {
  color: var(--color17);
  width: 30vw;
  font-size: 0.8vw;
}
#preferencesPreferedIndustries {
  display: grid;
  width: 25vw;
  grid-template-columns: auto auto;
  column-gap: 2vw;
  row-gap: 1vw;
  padding-top: 0;
  margin-left: 1vw;
  margin-bottom: -1vw;
}
#Content .oneLine {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  grid-column-gap: 1vw;
  column-gap: 1vw;
}
#Content .oneLine > * {
  width: calc(100% - 1vw);
}
#saveSetteingChangesBar {
  border-top: 0.1vw solid var(--color20);
}
#Content .oneLineLinkAndLabel {
  display: grid;
  grid-template-columns: auto 70%;
  margin-top: -3vh;
}
