#EnteryPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(45deg, #5b74ff, #34bfa3, #5b74ff);
  background-size: 300% 300%;
  animation: backgroundColor 30s ease infinite;
}
form {
  display: contents;
}
.backToLogIn {
  margin-right: 1vw;
  margin-left: -4vw;
  cursor: pointer;
}
h1 {
  font-size: 3vw;
  color: #ffffff;
}
.Button {
  margin-right: 1vw;
}
#login {
  margin-left: 50%;
  padding-left: 0;
}
#login > form > * {
  width: 100%;
}
#register {
  margin: 0;
}
#register > * {
  margin: 1vw 0;
}
.oneLine {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  column-gap: 1vw;
}
.oneLine > * {
  width: calc(100% - 1vw);
}
#EnteryPage > div {
  width: 100%;
}
#EnteryPage > div > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
}
form > * {
  margin: 1vw 0;
}
.img {
  background-image: url("../imgs/register.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 37vw;
  height: 37vw;
  animation: imgMovement 20s ease infinite;
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  margin: 0 1vw;
}
.leftSide {
  background-image: url("../imgs/login.svg");
  grid-column-start: 1;
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
/*Animations*/
@keyframes backgroundColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Animations*/
@keyframes imgMovement {
  0% {
    background-position: 50% 50%;
  }
  20% {
    background-position: 45% 45%;
  }
  40% {
    background-position: 45% 55%;
  }
  60% {
    background-position: 55% 55%;
  }
  80% {
    background-position: 55% 45%;
  }
  100% {
    background-position: 50% 50%;
  }
}
