.LabelAndInput > label {
  display: grid;
  grid-row-gap: 1vw;
  width: 100%;
  font-size: 1vw;
  margin-bottom: 0.5vw;
  color: var(--color8);
}
.LabelAndInput > label > input {
  padding: 0.5vw;
  opacity: 0.6;
  font-size: 1vw;
  outline-color: var(--color3);
}
.LabelAndInput {
  width: 50%;
}
.LabelAndInputTwoInOneRow {
    width: 24%;
    display: inline-flex;
    margin-right: 2%;
}

.LabelAndInputCheckboxItems > label{
  display: block;
  }

.LabelAndInputCheckboxItems label > input {
  margin-left: 1vw;
  }