:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #fdcc6b;
  --color4: #292929;
  --color5: #c9b791;
  --color6: #363636;
  --color7: #656565;
  --color8: #a1a8c3;
  --color9: #646c9a;
  --color10: #868aa8;
  --color11: #ffd98d;
  --color12: #45414e14;
  --color13: #3c4368;
  --color14: #5b74ff;
  --color15: #fd397a;
  --color16: #34bfa3;
  --color17: #3d4465;
  --color18: #f6fafb;
  --color19: #3c3c3b;
  --color20: #edeff3;
  --color21: #feebc4;
  --color22: #ebedf2;
  --color23: #575962;
}
