#NavBar {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5vw 0;
  background-color: var(--color19s);
  position: fixed;
}
#NavBar .logo {
  width: 10vw;
  height: 10vw;
  margin: 0 auto;
}
#NavBar .logo > * {
  width: 100%;
  height: 100%;
}
.line {
  color: var(--color5);
  text-align: center;
  font-size: 1vw;
}
#NavBar li {
  list-style: none;
  padding: 1vw;
  font-size: 0.9vw;
}
.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 0.4vw;
  margin-top: 0.5vw;
  transition: 0.2s ease;
  color: var(--color5);
  background-color: #00000000;
  font-size: 0.9vw;
  margin-bottom: 1.5vw;
}
.logoutButton img {
  margin-right: 0.5vw;
  width: 1.4vw;
  height: 1.4vw;
  filter: grayscale(0.6);
}
.logoutButton:hover > img {
  filter: grayscale(0);
  transition: 0.2s ease;
}
.logoutButton:hover {
  color: var(--color3);
}
