.PaginationButton {
  padding: 0.5vw;
  border: none;
  width: min-content;
  background-color: var(--color2);
}
.PaginationButton:hover {
  background-color: var(--color21);
}
#selectedPaginationButton {
  background-color: var(--color3);
}
