.oneLine {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  grid-column-gap: 1vw;
  column-gap: 1vw;
}
.oneLine > * {
  width: calc(100% - 1vw) !important;
}

.preferencesPreferredIndustriesContent {
  width: 30vw;
  color: var(--color8);
  font-size: 0.8vw;
}
.preferencesTipToUser {
  color: var(--color17);
  width: 30vw;
  font-size: 0.8vw;
}
#preferencesPreferredIndustries {
  display: grid;
  width: 25vw;
  grid-template-columns: auto auto;
  column-gap: 2vw;
  row-gap: 1vw;
  padding-top: 0;
  margin-left: 1vw;
  margin-bottom: -1vw;
}
#saveSettingChangesBar {
  border-top: 0.1vw solid var(--color20);
}
.oneLineLinkAndLabel {
  display: grid;
  grid-template-columns: auto 70%;
  margin-top: -3vh;
}
