.SettingNavItem {
  margin-right: 2vw;
  padding: 1vw 0vw 1vw 0vw;
  font-size: 1vw;
  cursor: pointer;
}
.SettingNavItem.inactive {
  color: var(--color8);
}
.SettingNavItem.active {
  color: var(--color3);
  border-bottom: solid 0.15vw var(--color3);
}
