.Table-Row {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}
.Table-Row table {
  margin-top: 2vw;
  border-collapse: collapse;
  width: 100%;
}
.Table-Row td {
  font-size: 0.8vw;
  padding: 1vw 3.5vw 1vw 3.5vw;
  text-align: center;
}
.Table-Row th {
  padding: 1px 3.5px 1px 3.5px;
  font-size: 0.7vw;
  color: var(--color8);
  opacity: 0.6;
}
.Table-Row tr {
  border-bottom: solid 0.1vw var(--color20);
}
