.StockTable {
  padding-left: 0;
  padding-right: 0;
}
.StockTable table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.StockTable td {
  font-size: 0.8vw;
  padding: 1vw 0;
  color: var(--color19);
}
.StockTable th {
  padding: 1vw 0;
  font-size: 0.9vw;
  color: var(--color8);
  opacity: 0.6;
}
.StockTable tr {
  border-bottom: solid 0.1vw var(--color20);
}
.StockTable #emptyTableMessage{
  min-height: 50vh;
}