Button {
    border-radius: 7%;
    color: rgb(245, 239, 239);
    width:5vw;
    height:7vh;
    border:none;
}
Button.yellow {
background-color: rgb(243, 175, 49);
}
Button.black {
background-color: rgb(54, 44, 44);
}